<h1>Hello rails, let´s start</h1>
<%= link_to  "My blog", controller: "articles" %>


<h1>Listing articles</h1>
<table>
<%= link_to  "New article", new_article_path %>
<tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>

</tr>

<%=@articles.each do |article| %>
<tr>

    <td><%= article.title%></td>
    <td><%= article.text%></td>
    <td><%= link_to  "show", articles_path(article) %></td>

</tr>
<%end%>



</table>
